.container {
  display: grid;
  grid-template-columns: auto auto;

  padding: 10px;
}
.container > div {
  padding: 10px;
  font-size: 20px;
}
.table {
  border: none;
  width: 100%;
  max-width: 1560px;
  height: 200px;
  background: linear-gradient(135deg, #425f9c, #8b9dc3);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
body {
  background-color: #dee2ee;
}
#label1 {
  margin-left: 830px;
}
#label2 {
  margin-left: 40px;
}

#label3 {
  font-size: 30px;
}

#label4 {
  margin-left: 685px;
}

#input-email {
  width: 200px;

  border: 2px solid #3b5998;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-color: #8b9dc3;
  box-shadow: 0 4px 12px rgba(59, 89, 152, 0.4);
  background-color: #f0f4ff;
}

#input-pswd {
  width: 200px;

  border: 2px solid #3b5998;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-color: #8b9dc3;
  box-shadow: 0 4px 12px rgba(59, 89, 152, 0.4);
  background-color: #f0f4ff;
}

#uname {
  padding: 8px 10px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#frgt-pswd {
  margin-left: 1046px;
  color: #c9cee9;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600; /* or use bold */
  color: #0e385f; /* Close to Facebook's text color */
  line-height: 32px;
}
#div1 {
  display: flex;
  gap: 15px;
}

#first-name {
  width: 170px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: large;
  padding-left: 8px;
}

#surname {
  width: 170px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: large;
  padding-left: 8px;
}

#num-addrs {
  width: 65%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: arial;
  font-size: large;
  padding-left: 8px;
}

#new-pswd {
  width: 65%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: arial;
  font-size: large;
  padding-left: 8px;
}
#td-1 {
  gap: 30px;
}

.dropdown {
  padding-bottom: 6px;
  padding-bottom: 6px;
  width: 55px;
}

.btn {
  padding: 8px 10px;
  background-color: #699b59;
  width: 30%;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.footer {
  align-items: center;
  margin-left: 8rem;
}
